{% extends 'root.html' %}

{% load static %}

{% block content %}
<style>
    #imagePreview{
        width: 20%;
       
    }
    #imagePreview img {
        border-radius: 15px;
        padding: 2%;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
        /* background-color: grey; */
        
        /* border: 2px solid grey; */
    }

    .image_section{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 3%;
}
</style>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>
  <div class="bg-dark text-light">
    {% if messages_to_display %}
    {% for message in messages_to_display %}
      {% if message.tags %} 
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {% endif %}
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
  {% endif %}
  

<div class="container p-5 ">
    <h1 class="mt-4 mb-4 text-center">Update Profile</h1>
<div class="image_section">

    <div id="imagePreview" class="mt-2">
        {% if profile.photo %}
        
        <img src="{{ profile.photo }}" alt="Uploaded Photo" class="img-fluid" id="currentImage">
        {% endif %}
    </div>

</div>
<hr style="margin-bottom: 3%;">
    <form method="POST" action="{% url 'profile' %}"  enctype="multipart/form-data"  class="mb-4">
        {% csrf_token %}
        
        <div class="row g-3">
            <div class="col-md-6">
                <label for="inputEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail" name="email" value="{{ profile.email }}">
            </div>
            <div class="col-md-6">
                <label for="photo" class="form-label">Photo</label>
                <input type="file" class="form-control" id="photo" name="photo"  onchange="previewImage(this)">
            </div>
            <div class="col-12">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="1234 Main St" value="{{ profile.address }}">
            </div>
            <div class="col-12">
                <label for="address2" class="form-label">Address 2</label>
                <input type="text" class="form-control" id="address2" name="address2" placeholder="Apartment, studio, or floor" value="{{ profile.address2 }}">
            </div>
            <div class="col-md-2">
                <label for="gender" class="form-label">Gender</label>
                <select id="gender" class="form-select" name="gender">
                    <option selected>Choose...</option>
                    <option value="Male" {% if profile.gender == "Male" %}selected{% endif %}>Male</option>
                    <option value="Female" {% if profile.gender == "Female" %}selected{% endif %}>Female</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="city" class="form-label">City</label>
                <input type="text" class="form-control" id="city" name="city" value="{{ profile.city }}">
            </div>
            <div class="col-md-4">
                <label for="state" class="form-label">State</label>
                <select id="state" class="form-select" name="state">
                    <option selected>Choose...</option>
                    {% for state, state_name in state_choices %}
                        <option value="{{ state }}" {% if state == profile.state %}selected{% endif %}>{{ state_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <label for="zip_code" class="form-label">Zip</label>
                <input type="text" class="form-control" id="zip_code" name="zip_code" value="{{ profile.zip_code }}">
            </div>
            <div class="col-12">
                <label for="shipping_address" class="form-label">Shipping Address:</label>
                <textarea class="form-control" name="shipping_address" id="shipping_address" rows="4">{{ profile.shipping_address }}</textarea>
            </div>
           
        </div>

        <button type="submit" class="btn btn-light mt-4">Update Profile</button>
    </form>
</div>

    
</div>

<script>
      function previewImage(input) {
        var preview = document.getElementById('imagePreview');
        var currentImage = document.getElementById('currentImage');
        var file = input.files[0];

        if (file) {
            var reader = new FileReader();

            reader.onload = function (e) {
                if (currentImage) {
                    currentImage.src = e.target.result;
                } else {
                    preview.innerHTML = '<img src="' + e.target.result + '" alt="Preview" class="img-fluid" id="currentImage">';
                }
            }

            reader.readAsDataURL(file);
        } else {
            preview.innerHTML = '';  // Clear the preview if no file is selected
        }
    }
</script>
{% endblock content %}
